.zip filter=lfs diff=lfs merge=lfs -text
.pdf filter=lfs diff=lfs merge=lfs -text
.md filter=lfs diff=lfs merge=lfs -text
chrome[[:space:]]driver[[:space:]]archives/*.zip filter=lfs diff=lfs merge=lfs -text
chrome[[:space:]]driver[[:space:]]archives/chrome-win64.zip filter=lfs diff=lfs merge=lfs -text
